<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter_Information_Project</title>
</head>
<nav id="navbar">

</nav>
<body>
    <h1 id="intro_title">
        Voter Information Project
    </h1>
    <h4 id="intro_extended">As my first-week hackathon project for the MLH fellowship, I'm building a webapp that can help you find out all the information you need to vote in the 2020 General Election.</h4>
    <div class="intro">
        <p id="intro_p">
            This is a historic election, and in the midst of a pandemic things seem to be more complicated than ever.
            This website will:
            <ul id="web_function">
                <li>Help you register to vote.</li>
                <li>Help you check if you're registered.</li>
                <li>Show you where you can vote, both early and on election day.</li>
                <li>Locate your 3 nearest USPS boxes to drop off your mail-in ballot.</li>
                <li>Give you any other useful information you need to know.</li>
            </ul>
        </p>
        <p>Enter your address below to find out more!</p>
    </div>
    <div class="address_search">
        <form method="POST">
            <input name="text" id="address_box">
            <input type="submit" id="address_submit">
        </form>
    </div>

</body>
</html>